[submodule "UserService"]
	path = UserService
	url = https://github.com/vianatmr/UserService.git
[submodule "FilmServiceApp"]
	path = FilmServiceApp
	url = https://github.com/vianatmr/FilmServiceApp.git
[submodule "OrderService"]
	path = OrderService
	url = https://github.com/vianatmr/OrderService.git
[submodule "CinemAppGateway"]
	path = CinemAppGateway
	url = https://github.com/vianatmr/CinemAppGateway.git
